footer {
  background-color: var(--green);
}

footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 2rem;
}

footer .content .info span img {
  width: 2rem;
}

footer .content .info {
  display: flex;
  flex-direction: column;

  width: 70%;

  gap: 1rem;
}

footer .content .info span {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: #335424;
  font-size: 1.5rem;
}

footer .content .images {
  display: flex;
  flex-direction: column;
}

@media (min-width: 871px) {
  footer .content .images {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  footer .content .images .logo {
    width: fit-content;
    height: inherit;
  }
}
