* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --light-green: #f0fcea;
  --green: #ddf1d3;
  --dark-green: #335424;
  --title-color: #8ab675;
  --text-color: #6b6b6b;
  --stats-bg: hsl(39, 100%, 97%);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;

  font-family: 'Roboto', sans-serif;
}

.content {
  width: min(50rem, 100%);
  /* width: 100%;
  max-width: 87rem; */
  margin-inline: auto;
}

.container.menu-expanded {
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 871px) {
  .content {
    width: min(144rem, 100%);
  }
}
