* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --light-green: #f0fcea;
  --green: #ddf1d3;
  --dark-green: #335424;
  --title-color: #8ab675;
  --text-color: #6b6b6b;
}

body {
  width: 100%;

  font-family: 'Roboto', sans-serif;
}

.content {
  width: 100%;
  max-width: 87rem;
  margin-inline: auto;
}

.container.menu-expanded {
  height: 100vh;
  overflow: hidden;
}
