nav {
  position: absolute;
  top: 9.675rem;

  width: 100%;
  max-width: 87rem;
  height: 100vh;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4.8rem;

  margin-top: 6rem;

  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
}

.container.menu-expanded nav {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;

  transition: all 0.5s;
}

nav ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  align-items: center;

  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
}

nav ul li {
  display: flex;
  flex-direction: column;
}

nav ul li span {
  height: 0.1rem;
  width: 0;

  transition: all 0.3s;
}

nav ul li:hover span {
  width: 100%;
  background-color: var(--dark-green);

  transition: all 0.3s;
}

nav ul li a {
  text-decoration: none;

  color: var(--dark-green);
}

@media (min-width: 871px) {
  nav {
    position: initial;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;

    width: 100%;
    max-width: 80%;
    height: initial;

    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-self: right;

    gap: 1rem;

    margin-top: 0;
  }

  nav ul {
    flex-direction: row;
    gap: 3rem;

    font-weight: 300;
  }
}
